name: Run faang.py every Saturday and push changes

on:
  schedule:
    - cron: '0 10 * * 6' # This gets the code to run as 12pm every Saturday - https://medium.com/@songulerdemguler/running-scheduled-code-on-github-8e6a03a8d88b
  workflow_dispatch:  # allow manual runs from GitHub UI

jobs:
  run-download:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.x"

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run faang.py
        run: python faang.py

      - name: Commit changes
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "github-actions@github.com"
          git add -A
          git diff --quiet --cached || git commit -m "Automated update from faang.py"

      - name: Push changes
        run: |
          git push origin HEAD