name: Run faang.py every Saturday and poush changes

on:
  workflow_dispatch:   # allows manual runs of the workflow
  schedule:
    # From: https://crontab.guru/#0_10_*_*_6
    - cron: "0 10 * * 6"   # runs hourly (optional) # This gets the code to run as 10am every Saturday - https://medium.com/@songulerdemguler/running-scheduled-code-on-github-8e6a03a8d88b

permissions:
  contents: write   # required to push changes - otherwise it doesn't work

jobs:
  run-download:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}  # Default token with write permissions
          fetch-depth: 0                      # Ensure full history for committing 

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.x"

      - name: Install dependencies 
        run: |
          pip install -r requirements.txt || true

      - name: Run faang.py
        run: |
          python materials/faang.py

      - name: Commit changes
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "github-actions@github.com"
          git add -A
          git diff --quiet --cached || git commit -m "Automated update from stocks.py"

      - name: Push changes
        run: |
          git push origin HEAD
